<ul class="list-group animated bounceInRight">
  <li class="list-group-item" *ngFor="let categorie of categoriesList">
    <button type="button" class="btn btn-light btn-sm" (click)="showSubLevel(categorie)" *ngIf="!categorie.showSub">
      <i class="material-icons">
        keyboard_arrow_down
      </i>
    </button>
    <button type="button" class="btn btn-light btn-sm" *ngIf="categorie.showSub" (click)="showSubLevel(categorie)">
      <i class="material-icons">
        keyboard_arrow_up
      </i>
    </button>
    {{categorie.name}}
    <span class="badge badge-primary badge-pill">{{categorie.sublevels.length}}</span>
    <ul class="list-group sublevels" *ngIf="categorie.showSub">
      <li class="list-group-item" *ngFor="let sublevel of categorie.sublevels">
        <button type="button" class="btn btn-light btn-sm" (click)="showSubLevel(sublevel)" *ngIf="!sublevel.showSub">
          <i class="material-icons">
            keyboard_arrow_down
          </i>
        </button>
        <button type="button" class="btn btn-light btn-sm" *ngIf="sublevel.showSub" (click)="showSubLevel(sublevel)">
          <i class="material-icons">
            keyboard_arrow_up
          </i>
        </button>
        {{sublevel.name}}
        <span class="badge badge-primary badge-pill">{{sublevel.sublevels.length}}</span>
        <ul class="list-group sublevels" *ngIf="sublevel.showSub">
          <li class="list-group-item justify-content-end" *ngFor="let sublevel2 of sublevel.sublevels">
            {{sublevel2.name}}
            <button type="button" class="btn btn-light btn-sm"  [routerLink]="['/products', sublevel2.id]">
              <i class="material-icons">
                keyboard_arrow_right
              </i>
            </button>
          </li>
        </ul>
      </li>
    </ul>
  </li>
</ul>