<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BARATON</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categories">Categorias</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button type="button" class="btn btn-light" [routerLink]="['/shop']">
        <i class="material-icons">
          shopping_cart
        </i>
      </button>
    </span>
  </div>
</nav>

<router-outlet></router-outlet>