<div class="animated bounceInRight">
  <div class="filter d-flex justify-content-between align-items-center">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Filtrar
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" (click)="filterMax()">Precio mayor a menor</a>
        <a class="dropdown-item" (click)="filterMin()">Precio menor a mayor</a>
      </div>
    </div>
    <div>
      <input type="checkbox" class="form-check-input" id="exampleCheck1" name="exampleCheck1" [(ngModel)]="check"
        #theCheckbox="ngModel">
      <label class="form-check-label" for="exampleCheck1">Solo disponibles {{check}}</label>
    </div>
  </div>
  <hr>
  <ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let product of productsList"
      [hidden]="!showProduct(product)" (click)="selectProduct(product)">
      <span>
        <i class="material-icons btn" [ngClass]="{'gray' : !product.available}">
          add_shopping_cart
        </i>
        <span class="badge badge-primary badge-pill">{{product.quantity}}</span>
        {{product.name}}
      </span>
      <span class="badge badge-success badge-pill" *ngIf="product.available">{{product.price}}</span>
      <span class="badge badge-danger badge-pill" *ngIf="!product.available">No disponible</span>
    </li>
  </ul>
</div>