<ul class="list-group">
  <li class="list-group-item d-flex justify-content-between align-items-center">
    <span>
      Cantidad - Nombre producto
    </span>
    <strong>Precio</strong>
  </li>
  <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let product of productsList"
    [hidden]="!showProduct(product)" (click)="selectProduct(product)">
    <span>
      <input type="number" class="form-control shop-input" [(ngModel)]="product.items" name="items" #items="ngModel">
      {{product.name}}
    </span>
    <strong>{{product.realPrice * product.items | currency}}</strong>
  </li>
</ul>
<div class="d-flex justify-content-between align-items-center margin-2em">
  Total compra: {{getFullPrice() | currency}}
  <button class="btn btn-light" (click)="finish()"> Finalizar Compra</button>
</div>