/* You can add global styles to this file, and also import other style files */
.jumbotron{
    margin: 2em;
}

[hidden] { display: none !important;}
.hidden { display: none !important;}
:host {display: block;}

.gray{
    color: gray;
}