<div class="jumbotron">
  <h1 class="display-4">La tienda el baraton</h1>
  <p class="lead">
    Este es una aplicación web para mostrar el funcionmiento de un carrito de ventas solicitado por Don pepe
    <hr class="my-4">
    <p>dale click aqui redireccionar a la aplicación, pero realizada en angularjs, esta esta en angular (Proximamente)</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">AngularJS</a>
</div>